services:
  postgres:
    image: postgres:latest
    container_name: cloud-storage-postgres-db
    environment:
      POSTGRES_DB: cloud-storage-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d cloud-storage-db"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
  gradle_cache:
